:root{
    --text-font: Impact;
    --font-weight:bold;
    --btn-size:8rem;
    --btn-size-animation:100rem;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
    overflow: hidden;
}
a{  
    color: rgb(72, 56, 56);
    font-size: 1.5rem;
}
#tutorial{
    width: auto;
    position: fixed;
    margin-left:10px;
    right: 10px;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    pointer-events: none;
}
#tutorial-content{
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}
#tutorial-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    border-radius: 50%;
    animation: close 1s ;
    cursor: pointer;
    pointer-events:all;
}

.show-content{
    animation: popup 1s forwards;
}
.hidden-1{
    animation: pop-out 1s forwards
}

button{
    background-color: transparent;
    -webkit-appearance: none; 
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    z-index: 5;
}
.container{
    width: 70%;
    height: 80%;
}
.dashboard{
    letter-spacing: 0.25rem;
    height: 60% ;
    text-align: center;
}
#monthly{
    display: flex;
    justify-content: space-around
}
#today{
    font-size: 1.5rem;
    font-style: italic;
}
.userInput{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
#input-amount{
    height: auto;
    border: none;
    border-bottom: 0.25rem solid black;
    font-style: italic;
    font-weight: var(--font-weight);
    font-size:1.5rem;
    margin: 1rem;
}
.question-btns{
    white-space: pre-line;
    font-weight: var(--font-weight);
    font-size: 2.5rem;
    height: var(--btn-size);
    width: var(--btn-size);
    border-radius: 50%;
    font-family: var(--text-font);
    border: 0.25rem solid black;
    color: black;
}
.input-data{
    border: 0.25rem solid black;
    border-radius: 10px;
    padding: 0.2rem 3rem 0.2rem;
    cursor: pointer;
    animation: shining 2s infinite;
}
#fade-out-animate-income{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight);
    font-family: var(--text-font);
    animation: fade-out-animate-income 3s forwards;
}
#fade-out-animate-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight);
    font-family: var(--text-font);
    animation: fade-out-animate-payment 3s forwards;
}
.move-inn{
    animation: move-in 1s forwards;
}

@keyframes popup {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes pop-out {
    from{
        opacity: 1;
        display: block;
    }
    to{
        opacity: 0;
        display: none;
    }
}



@keyframes move-in {
    0%{ 
        position: relative;
        bottom: 10rem;
        opacity: 0%;
        font-size:0.1rem;
        border: 3.2rem solid black;
        clip-path: inset(100 0 0 0)
    }

    100%{
        position: relative;
        bottom: 0rem;
        opacity: 100%;
        border: 0.25rem solid black;
        clip-path: inset(0 0 0 0)
    }
}
@keyframes fade-out-animate-income{
    0%{ 
        opacity: 0%;
        transform: rotate(0deg);
        width: var(--btn-size-animation);
        height: var(--btn-size-animation);
        border-radius: 50%;
        font-size: 62.5rem;
        border: 3.2rem solid black;
    }

    50%{
        opacity: 100%;
        transform: rotate(360deg);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-size: 5rem;
        border: 0.25rem solid black;
        top:0rem;
        clip-path: inset(0 0 0 0)
    }

    80%{
        opacity: 100%;
        transform: rotate(360deg);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-size: 5rem;
        border: 0.25rem solid black;
        position: relative;
        top:-5rem;
        clip-path: inset(0 0 0 0)
    }
   
    100%{
        position: relative;
        opacity: 100%;
        transform: rotate(360deg);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-size: 5rem;
        border: 0.25rem solid black;
        top:10rem;
        clip-path: inset(0 0 100% 0)
    }
   
}
@keyframes fade-out-animate-payment{
    0%{ 
        opacity: 0%;
        transform: rotate(0deg);
        width: var(--btn-size-animation);
        height: var(--btn-size-animation);
        border-radius: 50%;
        font-size: 62.5rem;
        border: 3.2rem solid black;
    }

    50%{
        opacity: 100%;
        transform: rotate(360deg);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-size: 5rem;
        border: 0.25rem solid black;
        left:0rem;
        clip-path: inset(0 0 0 0)
    }

    80%{
        opacity: 100%;
        height: var(--btn-size);
        width: var(--btn-size);
        transform: rotate(720deg);
        border-radius: 50%;
        font-size: 5rem;
        border: 0.25rem solid black;
        position: relative;
        left:-5rem;
        clip-path: inset(0 0 0 0)
    }
   
    100%{
        position: relative;
        opacity: 100%;
        transform: rotate(3600deg);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-size: 0.5rem;
        border: 0.025rem solid black;
        left:30rem;
        clip-path: inset(100%)
    }
   
}
@keyframes shining{
    0%{transform: scale(1);}
    50%{transform: scale(1.25);}
    100%{transform: scale(1);}
}
@keyframes active {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes close {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@media (max-width: 900px) {
    :root{
        --text-font: Impact;
        --font-weight:bold;
        --btn-size:5rem;
        --btn-size-animation:100rem;
        --font-size: 1.5rem;
    }
    
    body{
        margin: 0;
        padding: 1rem 0 1rem 0;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: var(--text-font);
    }
    
    button{
    background-color: transparent;
    }
    
    .container{
        margin: 0;
        width: 100%;
        height: 80%;
    }
    .dashboard{
        letter-spacing: 0.1rem;
        height: 70% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #monthly{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
    }
    
    #today{
        font-size: 1.5rem;
        font-style: italic;
    }
    
    .userInput{
        width: 100%;
        height: 30%;
    }
    
    .hidden{
        display: none;
    }
    
    #input-amount{
        border: none;
        border-bottom: 0.25rem solid black;
        font-style: italic;
        font-weight: var(--font-weight);
        width: calc(var(--btn-size)*2);
    }
    .input-data{
        border: 0px;
        border-radius: 0px;
        padding: 0.2rem 3rem 0.2rem;
        cursor: pointer;
        animation: shining 2s infinite;
    }
    .question-btns{
        white-space: pre-line;
        font-weight: var(--font-weight);
        height: var(--btn-size);
        width: var(--btn-size);
        border-radius: 50%;
        font-family: var(--text-font);
        border: 0.25rem solid black;
        color: black;
        font-size: var(--font-size);
    }
    #result{
        cursor: pointer;
    }
    #fade-out-animate-income{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: var(--font-weight);
        font-family: var(--text-font);
        animation: fade-out-animate-income 3s forwards;
    }
    #fade-out-animate-payment{
        font-size: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: var(--font-weight);
        font-family: var(--text-font);
        animation: fade-out-animate-payment 3s forwards;
    }
}